<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Favorite People</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/person1">Person 1</a></li>
        <li><a href="/person2">Person 2</a></li>
        <li><a href="/person3">Person 3</a></li>
        <li><a href="/person4">Person 4</a></li>
      </ul>
    </nav>
  </header>
</body>
</html>
