<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= name %></title>
</head>
<body>
  <% include header %>
  <h1><%= name %></h1>
  <p>Profession: <%= profession %></p>
  <p>Biography: <%= biography %></p>
</body>
</html>
